<div class="row">
    <div class="col-md-4">
        <app-search-criteria-dropdown 
            [selectedSearchType]="searchCriteria"
            (selectedCriteria)="setSearchPlaceholder($event)"></app-search-criteria-dropdown>
    </div>
    <div class="col-md-8 form-group">
            <div class="input-group">
                    <input class="form-control py-2 border-right-0 border" 
                        type="search" 
                        appInvalidCharacters
                        appInputRestriction="noSpecialChars"
                        [(ngModel)]="query" 
                        id="example-search-input"
                        [maxlength]="MAX_QUERY_LENGTH"
                        [minlength]="MIN_QUERY_LENGTH"
                        required
                        
                        pattern="/[A-Z]{5}\d{4}[A-Z]{1}/i"
                        (keydown.enter)="getResults()"
                        [placeholder]="placeholder" >
                        <button class="btn btn-outline-primary rounded-right" 
                                type="button"
                                (click)="getResults()">
                                <i class="fa fa-search"></i>
                        </button>
                </div>
    </div>
</div>
<div class="row">
    <div class="offset-4 col-md-8">
        <div *ngIf="searchCriteria === SEARCH_TYPE.Title; else artistTemplate">
                <div *ngFor="let song of songs | async">
                        <app-song-display [song]="song"></app-song-display>
                        <hr>
                    </div>
        </div>
        <ng-template #artistTemplate>
                <div *ngFor="let artist of artists | async">
                        <app-artist-display [artist]="artist"></app-artist-display>
                        <hr>
                    </div>
        </ng-template>
        
    </div>
</div>