

<div class="row form-group">
  <div class="offset-1 col-lg-1">
    <app-search-criteria-dropdown [selectedSearchType]="searchCriteria" (selectedCriteria)="setSearchPlaceholder($event)">
    </app-search-criteria-dropdown>
  </div>
  <div class="col-lg-9">
    <input class="form-control" type="search" appInvalidCharacters appInputRestriction="noSpecialChars" [(ngModel)]="query"
  id="example-search-input" [maxlength]="MAX_QUERY_LENGTH" [minlength]="MIN_QUERY_LENGTH" required #name="ngModel"
  pattern="/[A-Z]{5}\d{4}[A-Z]{1}/i" (keydown.enter)="getResults()" [placeholder]="placeholder">
    <div *ngIf="name.errors.maxlength">
      Query must not be greater than {{MAX_QUERY_LENGTH}} characters.
    </div>
    <div *ngIf="name.errors.minlength">
      Query must be at least {{MIN_QUERY_LENGTH}} characters long.
    </div>
  </div>
</div>

<div class="row">
  <div class="offset-2 col-lg-9">
    <div *ngIf="searchCriteria === SEARCH_TYPE.Title && showResults">
      <div *ngFor="let song of songs | async">
        <span (click)="emitSelectedSong(song);" style="color: blue; cursor: pointer">
          <div>
            <div><strong>{{song?.album?.full_title}}</strong></div>
            <div>{{song?.releaseDate}}</div>
            <div *ngFor = "let singer of song?.singers">
              <div>{{singer?.fullName}}</div>
            </div>
            <div><i>{{song?.title}}</i></div>
          </div>
        </span>
        <hr>
      </div>
      <!-- <div *ngIf="noRecordsFound">
        <p style="color: red;">No results found.</p>
      </div> -->
      <div *ngIf="serviceFailed">
        <p style="color: red;">Service failed to fetch data. Please contact administrator or try after sometime.</p>
      </div>
    </div>
    <div *ngIf="searchCriteria === SEARCH_TYPE.Artist && showResults">
      <div *ngFor="let artist of artists | async">
        <span (click)="emitSelectedArtist(artist);" style="color: blue; cursor: pointer">
          <div>
            <span>
              <img src="{{artist?.headerImageURL}}" alt="Sorry.No image found!" style="width:50px;height:50px;">
            </span>
            <span style="padding-left:100px;"><strong>{{artist?.fullName}}</strong></span>
          </div>
        </span>
        <hr>
      </div>
      <!-- <div *ngIf="noRecordsFound">
        <p style="color: red;">No results found.</p>
      </div> -->
      <div *ngIf="serviceFailed">
        <p style="color: red;">Service failed to fetch data. Please contact administrator or try after sometime.</p>
      </div>
    </div>
  </div>
</div>