<div class="row">
    <div class="col-md-4">
        <app-search-criteria-dropdown 
            [selectedSearchType]="searchCriteria"
            (selectedCriteria)="setSearchPlaceholder($event)"></app-search-criteria-dropdown>
    </div>
    <div class="col-md-8 form-group">
            <div class="input-group">
                    <input class="form-control py-2 border-right-0 border" 
                        type="search" 
                        [(ngModel)]="query" 
                        id="example-search-input"
                        [placeholder]="placeholder" >
                        <button class="btn btn-outline-primary rounded-right" 
                                type="button"
                                (click)="getResults()">
                                <i class="fa fa-search"></i>
                        </button>
                </div>
    </div>
</div>
<div class="row">
    <div class="offset-4 col-md-8">
        <div *ngFor="let songInfo of songsInfo">
            <app-song-display [songInfo]="songInfo"></app-song-display>
            <hr>
        </div>
    </div>
</div>

