
<div id="dashboard">
  <header class="dashboard__header">
    <h1>Music Database</h1>
  </header>
  <section class="dash-row">
    <mat-card id="welcome-message">
    
      <div class="welcome__center">
        <div class="spark-container">
          <app-search-component class="col-lg-12"
              (selectedSong)="setSelectedSong($event)"
              (selectedArtist)="setSelectedArtist($event)">
        </app-search-component>
          
        </div>
      </div>

      </mat-card>
  </section>
  <section *ngIf="song || artist" class="dash-row">
    <mat-card id="card-0-1" style="color: white">
      <mat-card-title >
      </mat-card-title>
      <mat-card-subtitle style="color: white">www.yourwebsite.com</mat-card-subtitle>
      <img src="{{song?.headerImageURL}}" alt="Sorry.No image found!">
    </mat-card>

    <mat-card id="card-0-2">
      <mat-card-title >
        Info
      </mat-card-title>
      <mat-card-subtitle>Percentage of annual spend</mat-card-subtitle>
      <!-- <zingchart-angular [config]="allocatedBudget" [height]="'250px'"></zingchart-angular> -->

    </mat-card>
        <mat-card id="card-1-1">
      <mat-card-title style="color: white">
        Music Player
      </mat-card-title>
      <mat-card-subtitle style="color: white">Your customer's interactions</mat-card-subtitle>
      <!-- <iframe src="{{getSafeURL(song?.musicPlayerURL)}}"></iframe> -->
    </mat-card>

  </section>

</div>

