<div id="dashboard">
  <header class="dashboard__header">
    <h1>Music Database</h1>
  </header>
  <section class="dash-row">
    <mat-card id="welcome-message">
      <div class="welcome__center">
        <div class="spark-container">
          <app-search-component class="col-lg-12" (selectedSong)="setSelectedSong($event)"
            (selectedArtist)="setSelectedArtist($event)">
          </app-search-component>
        </div>
      </div>

    </mat-card>
  </section>
  <div *ngIf="song">
    <app-song-display [song]="song"></app-song-display>
  </div>
  <div *ngIf="artist">
    <app-artist-display [artist]="artist"></app-artist-display>
  </div>
</div>
